CompileFlags:
  Add:
    - "-I."
    - "-Iconsole"
    - "-Idrivers"
    - "-Iio"
    - "-Ifs"
    - "-Imm"
    - "-Iinterrupts"
    - "-Ilibc"
    - "-Ishell"
    - "-Ierror_handling"
    - "-m64"
    - "-ffreestanding"
    - "-nostdlib"
    - "-nostdinc"
    - "-fno-pie"
    - "-mcmodel=large"
    - "-mno-red-zone"
